<div class="home background-gd" data-aos="fade-up" data-aos-duration="3000">
  <div class="headline animate__backInUp">
    <h1>Title Generator</h1>
    <p>Create engaging click-worthy titles for your podcast</p>
  </div>
  <div class="form animate__fadeInRight">
    <div class="part-1 show" data-visible="true">
      <div class="form-content">
        <form>
          <div class="text-input">
            <label>What is your episode about?</label>
            <textarea placeholder="Describe your episode in 300 characters" cols="30" rows="5"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="part-2" data-visible></div>
    <div class="part-3" data-visible></div>
  </div>
</div>
