<div class="app">
  <header class="sticky">
    <div class="title">
      <h1 class="brand">Namr</h1>
      <span>by</span>
      <h1 class="melville">Melville</h1>
    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="">
    <div class="split">
      <div class="col">
        <small>© 2020 Melville Technologies Inc</small>
      </div>
      <div class="col">
        <small
          >Made with <i class="fa-solid fa-heart"></i> by Melville
          Technologies</small
        >
      </div>
    </div>
  </footer>
</div>
